<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Add New Project to the database</h3>
  </div>
  <div class="panel-body">
    <div>
      <label>Project Name:</label>
      <br>
      <input class="readabletext" #newName>
    </div>

    <div>
      <label>Project Authors:</label>
      <br>
      <input class="readabletext" #newAuthors>
    </div>

    <div>
      <label>Project Description:</label>
      <br>
      <textarea class="readabletext" #newDescription></textarea>
    </div>

    <div>
      <label>Project AskingAmount:</label>
      <br>
      <input class="readabletext" #newAskingAmount>
    </div>

    <div>
      <label>Project RaisedAmount:</label>
      <br>
      <input class="readabletext" #newRaisedAmount>
    </div>

    <div>
      <label>Project Plans:</label>
      <br>
      <input class="readabletext" #newPlans>
    </div>

    <div>
      <label>Project Swag:</label>
      <br>
      <input class="readabletext" #newSwag>
    </div>

    <div>
      <label>Project Category:</label>
      <br>
      <input class="readabletext" #newCategory>
    </div>

    <div>
      <label>Project Favorited:</label>
      <br>
      <input class="readabletext" #newFavorited>
    </div>

    <div>
      <label>Project Featured:</label>
      <br>
      <input class="readabletext" #newFeatured>
    </div>

    <div>
      <label>Project Image:</label>
      <br>
      <input class="readabletext" #newImage>
    </div>

    <div>
      <label>Project Author Image:</label>
      <br>
      <input class="readabletext" #newAuthorImage>
    </div>

    <button (click)="submitForm(newName.value, newAuthors.value, newDescription.value, newAskingAmount.value, newRaisedAmount.value, newPlans.value, newSwag.value, newCategory.value, newFavorited.value, newFeatured.value, newImage.value, newAuthorImage.value); newName.value=''; newAuthors.value=''; newDescription.value=''; newAskingAmount.value=''; newRaisedAmount.value=''; newPlans.value=''; newSwag.value=''; newCategory.value=''; newFavorited.value=''; newFeatured.value=''; newImage.value=''; newAuthorImage.value=''">Add</button>

  </div>
</div>



<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Modify Existing Project</h3>
  </div>
  <div class="panel-body">
    <app-welcome></app-welcome>
  </div>
</div>
