<p>Filter</p>
<select (change)="onChange($event.target.value)">
  <option value="allProjects" selected="selected">All Projects</option>
  <option value="Charity">Charity</option>
  <option value="Selfish">Selfish</option>
</select>

<select (change)="onChangeFeatured($event.target.value)">
  <option value="All" selected="selected">All</option>
  <option value="1">Featured</option>
  <option value="0">Unfeatured</option>
</select>


<div *ngFor="let project of projects | async | category:categoryFilter:featured" class="projectbar">

  <div (click)="goToDetailPage(project)" class="cooltext">
    {{project.name}} by {{project.authors}}
  </div>
  <div class="cooltext"  >
    <span class="readabletext">Featured:</span><span (click)="changeFeatureCheckValue(project)" *ngIf="project.featured === '0'">&#9744;</span><span (click)="changeFeatureUnCheckValue(project)" *ngIf="project.featured === '1'">&#9745;</span>
  </div>
  <div *ngIf="currentRoute == '/admin'">
     <app-edit-project [selectedProject]="project"></app-edit-project>
  </div>

</div>
