/* You can add global styles to this file, and also import other style files */
html {
  font-family: 'Secular One', sans-serif;
}

label {
  font-family: 'Secular One', sans-serif;
  font-size: 14px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  padding: 15px;
}

.picture {
  max-width: 300px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px grey;
  margin: 40px;
}

.portrait {
  border-radius: 150px;
  width: 100px;
  height: 100px;
  box-shadow: 5px 5px 20px grey;
  margin: 10px;
}

.progressbar {
  height: 20px;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  border-radius: 10px;
}

.barframe {
  height: 22px;
  width: 100%;
  padding: 1px;
  background-color: #f2f2f2;
  border-radius: 11px;
  box-shadow: 5px 5px 20px lightgrey;
  margin: 10px;
}

.squaretile {
  padding: 30px;
  border-style: solid;
  border-width: 20px 0px 20px 0px;
  border-color: lightgreen;
  box-shadow: 10px 10px 20px grey;
  border-radius: 30px;
}

.innertile {
  border-style: solid;
  border-width: 4px 4px 4px 4px;
  border-color: black;
  padding: 20px;
  border-radius: 30px;
}

.squaretile:hover {
  background-color: #ccffcc;
}

.fancy {
  font-family: 'Galada', cursive;
}

.coolbutton {
  font-family: 'Galada', cursive;
  text-shadow: 2px 2px #006600;
  max-height: 50px;
}

.cooltext {
  font-family: 'Galada', cursive;
  font-size: 30px;
}

.readabletext {
  font-family: 'Secular One', sans-serif;
}

.projectbar {
  border-style: solid;
  border-width: 20px 0px 20px 0px;
  border-color: lightgreen;
  box-shadow: 10px 10px 20px grey;
  border-radius: 30px;
  padding: 20px;
  margin: 20px;
}

.projectbar:hover {
  background-color: #ccffcc;
}

.logotext {
  font-size: 75px;
  color: lightgreen;
  text-shadow: 2px 2px #006600;
}

.logo {
  width:150px;
}

.col-sm-10 {
  display: inline;
}
